.venv
.git
.gitignore
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.idea
.idea/workspace.xml
.DS_Store
.git/
pycache
dist
docs
env
logs
Dockerfile
Pipfile
Pipfile.lock
staticfiles/
mediafiles/
db.sqlite3
README.md
.dockerignore
docker-compose.dev.yml
docker-compose.prod.yml
.vscode
backup.json